<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- 核心配置文件的必须在位置src下面，名字必须是hibernate.cfg.xml -->
        <!-- 第一部分：配置数据库信息 （必须的）-->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql:///hibernate</property><!-- ip端口可省略 -->
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">123</property>

        <!-- 第二部分：配置hibernate信息 （可选）-->
        <property name="hibernate.show_sql">true</property><!--输出底层sql语句-->
        <property name="hibernate.format_sql">true</property><!--格式化sql语句-->
        <property name="hibernate.hbm2ddl.auto">update</property><!--表存在则跟新，不存在则创建 不写这句则不会帮我们创建表-->
        <!-- 配置数据库方言
            在mysql里面实现分页  关键日limit
            在oracle里里实现分页 关键字rownum
            让hibernate框架来识别不同数据库自己特有的语句   否则框架不能识别关键字
         -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- 配置session对象与本地线程绑定  保证session是一个单线程对象 -->
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- 第三部分：配置把映射文件放到核心配置文件中（必须的） -->
        <mapping resource="cn.itcast.entity/User.hbm.xml"/>
        <mapping resource="cn.itcast.entity/Customer.hbm.xml"/>
        <mapping resource="cn.itcast.entity/LinkMan.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
