<!DOCTYPE html>
<html lang="zh-ch">
	<head>
		<meta charset="utf-8" />
		<!--屏幕和设备的屏幕保持一致，初始缩放为1:1，禁止用户缩放-->
		<meta name="viewport" content="width=device-width,
			initial-scale=1,user-scalable=no" />
		<title>百度云群组分享-建群组</title>
		<!--引入外部的bootstrap中的css文件-->
		<!--<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">-->
		<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />

		<!--jQuery文件。务必在bootstrap.min.js 之前引入-->
		<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>

		<!--再引入bootstrap.min.js文件-->
		<!--<script src="../bootstrap/js/bootstrap.min.js"></script>-->
		<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

		<!-- 引入layui相关插件 -->
		<script src="https://cdn.bootcss.com/layer/3.1.0/layer.js"></script>
		<script src="https://heerey525.github.io/layui-v2.4.3/layui-v2.4.5/layui.js"></script>
		<link rel="stylesheet" href="https://heerey525.github.io/layui-v2.4.3/layui-v2.4.5/css/layui.css">
		<style>
		
		</style>
	</head>
	<body>
		<div class="container" style="background: #e6e6e6">
			<div class="row">
				<div class="col-lg-4"></div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-10">
					<form class="form-horizontal" action="" method="post">
						<div class="form-group"><!-- 下内边距 -->
							<div class="input-group"><!-- 合并成一组 -->
								<span class="input-group-addon"> <!-- 设置样式-->
									<span class="glyphicon glyphicon-user"></span> <!-- 文字替换成图标 用span设置 -->
								</span>
								<input type="text" name="username" placeholder="输入用户名" class="form-control" ><!-- 圆角边框 -->
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-lock"></span>
								</span>
								<input type="password" name="password" placeholder="请输入密码" class="form-control">
							</div>
						</div>
							<div class="text-center" style="width: 100%;">
								<input type="submit" value="登录" class="btn btn-info btn-sm">
								<a href="#" id="register">还没有账号？去注册</a>
							</div>
					</form>
				</div>
				<div class="col-lg-4"></div>
			</div>
		</div>
	</body>
	<script>
		$(function(){
			$("#register").click(function(){
				var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
				parent.layer.close(index); //再执行关闭
				parent.layer.open({
					title: "登录",
				type: 2, 
				content: "register.html" 
				});
			})
		})
	</script>
</html>